body {
    font-family: 'PT Sans', sans-serif;
    background-color: lightgrey;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
    cursor: pointer;
    color: blueviolet;
}

span {
    color: darkred;
    font-weight: bold;
}

.boxes {
    display: block;
    margin: 2em;
    padding: 5em;
    border: 1em solid #723; 
    border-radius: 5em;
    width: 30em;
}

#box1 {
    background-color: cadetblue;
}

#box2 {
    background-color: lightcoral;
}

#box3 {
    background-color: rgb(95, 160, 106);
}

#box4 {
    background-color: rgb(154, 95, 160);
}

.images {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: crimson;
    position: relative;
    top: 3.5em;
}

h1 {
    color: #a4a4a4
}

.original {
    color: aqua;
}

.additional {
    color: blue;
}

#show1{
    color: red;
}

#show2{
    color: green;
}

#show3{
    color: orange;
}

#show4{
    color: yellow;
}

#show5{
    color: brown;
}

.star {
    color: darkturquoise;
}

#wars {
    color: green;
}

.list {
    border: 2px solid black;
}